<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmation</h5>
                    <!--                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
                </div>
                <div class="modal-body">
                    <p>Order parts from storage?</p>
<!--                    <table class="table">-->
<!--                        <tr>-->
<!--                            <th scope="col">REF</th>-->
<!--                            <th scope="col">Available quantity</th>-->
<!--                        </tr>-->
<!--                        -->
<!--                        <tr th:each="item: ${requiredParts}">-->
<!--                            <td scope="row" th:text="${item.getId()}"/>-->
<!--                            <td scope="row" th:text="${item.getPartName()}"/>-->
<!--                            <td scope="row" th:text="${item.getPartRef()}"/>-->
<!--                            <td scope="row" th:text="${item.getRequiredQty()}"/>-->
<!--                        </tr>-->
<!--                        -->
<!--                    </table>-->
                </div>
                <div class="modal-footer">
                    <a class="btn btn-secondary" th:href="${'/factory'}" role="button">Back</a>
                    <form method="get" action="/confirmation">
                        <input class="btn btn-success" type="submit" value="Confirm">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>