<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Factory</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
    <br>
    <br>
    <h3>Configurations of humidifiers</h3>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="configuration: ${configurations}">
            <a class="btn btn-outline-success" th:href="${'/chosen_configuration/' + configuration.getId()}"
               th:text="${configuration.getConfigurationName()}" role="button"></a>
        </tr>
        </tbody>
    </table>

    <div class="container">
        <a class="btn btn-secondary" th:href="${'/'}" role="button">Back</a>
    </div>
</div>

</body>
</html>