<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Factory Program</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
    <h1>Humidifier</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Zones</th>
            <th scope="col">100</th>
            <th scope="col">200</th>
            <th scope="col">500</th>
            <th scope="col">800</th>
            <th scope="col">1000</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1-4</th>
            <td>
                <input type="checkbox" class="btn-check" id="btn-check-2" checked autocomplete="off">
                <label class="btn btn-primary" for="btn-check-2">C1</label>
            </td>
            <td>
                <input type="checkbox" class="btn-check" id="btn-check-2" checked autocomplete="off">
                <label class="btn btn-primary" for="btn-check-2">C2</label>
            </td>
            <td>
                <input type="checkbox" class="btn-check" id="btn-check-2" checked autocomplete="off">
                <label class="btn btn-primary" for="btn-check-2">C4</label>
            </td>
            <td>
                <input type="checkbox" class="btn-check" id="btn-check-2" checked autocomplete="off">
                <label class="btn btn-primary" for="btn-check-2">C5</label>
            </td>
            <td>
                <input type="checkbox" class="btn-check" id="btn-check-2" checked autocomplete="off">
                <label class="btn btn-primary" for="btn-check-2">C6</label>
            </td>
        </tr>
        <tr>
            <th scope="row">5-8</th>
            <td>
                <input type="checkbox" class="btn-check" id="btn-check-3" autocomplete="off" disabled>
                <label class="btn btn-primary" for="btn-check-3">-</label>
            </td>
            <td>
                <input type="checkbox" class="btn-check" id="btn-check-2" checked autocomplete="off">
                <label class="btn btn-primary" for="btn-check-2">C3</label>
            </td>
            <td>
                <input type="checkbox" class="btn-check" id="btn-check-2" checked autocomplete="off">
                <label class="btn btn-primary" for="btn-check-2">C5</label>
            </td>
            <td>
                <input type="checkbox" class="btn-check" id="btn-check-2" checked autocomplete="off">
                <label class="btn btn-primary" for="btn-check-2">C8</label>
            </td>
            <td>
                <input type="checkbox" class="btn-check" id="btn-check-2" checked autocomplete="off">
                <label class="btn btn-primary" for="btn-check-2">C12</label>
            </td>
        </tr>
        <tr>
            <th scope="row">9-12</th>
            <td>
                <input type="checkbox" class="btn-check" id="btn-check-3" autocomplete="off" disabled>
                <label class="btn btn-primary" for="btn-check-3">-</label>
            </td>
            <td>
                <input type="checkbox" class="btn-check" id="btn-check-3" autocomplete="off" disabled>
                <label class="btn btn-primary" for="btn-check-3">-</label>
            </td>
            <td>
                <input type="checkbox" class="btn-check" id="btn-check-2" checked autocomplete="off">
                <label class="btn btn-primary" for="btn-check-2">C6</label>
            </td>
            <td>
                <input type="checkbox" class="btn-check" id="btn-check-2" checked autocomplete="off">
                <label class="btn btn-primary" for="btn-check-2">C9</label>
            </td>
            <td>
                <input type="checkbox" class="btn-check" id="btn-check-2" checked autocomplete="off">
                <label class="btn btn-primary" for="btn-check-2">C13</label>
            </td>
        </tr>
        <tr>
            <th scope="row">13-16</th>
            <td>
                <input type="checkbox" class="btn-check" id="btn-check-3" autocomplete="off" disabled>
                <label class="btn btn-primary" for="btn-check-3">-</label>
            </td>
            <td>
                <input type="checkbox" class="btn-check" id="btn-check-3" autocomplete="off" disabled>
                <label class="btn btn-primary" for="btn-check-3">-</label>
            </td>
            <td>
                <input type="checkbox" class="btn-check" id="btn-check-3" autocomplete="off" disabled>
                <label class="btn btn-primary" for="btn-check-3">-</label>
            </td>
            <td>
                <input type="checkbox" class="btn-check" id="btn-check-2" checked autocomplete="off">
                <label class="btn btn-primary" for="btn-check-2">C10</label>
            </td>
            <td>
                <input type="checkbox" class="btn-check" id="btn-check-2" checked autocomplete="off">
                <label class="btn btn-primary" for="btn-check-2">C14</label>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>